<!DOCTYPE html>
<html>

    <head>
        <title>IT Readiness</title>
        <style type="text/css">
       </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

        <script src="//localhost:35729/livereload.js"></script>
        <link rel="stylesheet" href="content/css/home.css">
    </head>

    <body ng-app="app">
        <div class="row" ng-controller="MainController as vm">
            <section ng-repeat="m in vm.sessions" class="month">
                <header ng-click="m.isActive = !m.isActive">
                    <h1>{{m.name}}</h1>
                </header>
                <section class="sessions" ng-show="m.isActive">
                    <article ng-repeat="s in m.sessions" class="session">
                        <header>
                            <h3>Session {{s.num}}</h3>
                            <h5>{{s.date}}</h5>
                        </header>
                        <ul >
                            <li ng-repeat="l in s.links">
                                <a href="{{l[1]}}">{{l[0]}}</a>
                            </li>

                        </ul>
                    </article>
                </section>
            </section>
        </div>
        <!--
        <div class="month">
            <header>
                <h1>November</h1>
            </header>
            <section>
                <article>
                    <header>
                        <h3>
                            <h3>Session 11</h3> - 11/1/2016</header>
                    <ul>
                        <li><a href="js/intro.html">JS Intro</a></li>
                        <li> <a href="https://github.com/uagc-it-readiness/front-end-development-course-assignments/tree/master/Assignment8">Assignment 8</a></li>
                    </ul>
                </article>
                <article>
                    <header>
                        <h3>Session 12</h3> - 11/3/2016</header>
                    <ul>
                        <li><a href="js/part2.html">JS Part2</a></li>
                        <li> <a href="https://github.com/uagc-it-readiness/front-end-development-course-assignments/tree/master/Assignment9">Assignment 9</a></li>
                    </ul>
                </article>
                <article>
                    <header>
                        <h3>Session 13</h3> - 11/5/2016</header>
                    <ul>
                        <li><a href="js/part3.html">JS Part3</a></li>
                        <li> <a 
                        href="https://github.com/uagc-it-readiness/front-end-development-course-assignments/tree/master/Assignment10">Assignment 10</a></li>
                    </ul>
                </article>
                <article>
                    <header>
                        <h3>Session 14</h3> - 11/8/2016</header>
                    <ul>
                        <li><a href="js/part4.html">JS Part4</a></li>
                        <li> <a href=a
                        "https://github.com/uagc-it-readiness/front-end-development-course-assignments/tree/master/Assignment11">Assignment 11</a></li>
                    </ul>
                </article>
                <article>
                    <header>
                        <h3>Session 15</h3> - 11/10/2016</header>
                    <ul>
                        <li><a href="js/part5.html">JS Part5</a></li>
                        <li> <a href="https://github.com/uagc-it-readiness/front-end-development-course-assignments/tree/master/Assignment12">Assignment 12</a></li>
                    </ul>
                </article>
                <article>
                    <header>
                        <h3>Session 16 - 11/15/2016</header>
                    <ul>
                        <li><a href="html/forms.html">HTML Forms</a></li>
                        <li> <a href="https://github.com/uagc-it-readiness/front-end-development-course-assignments/tree/master/Assignment13">Assignment 13</a></li>
                    </ul>
                </article>
                <article>
                    <header>
                        <h3>Session 17 - 11/17/2016</header>
                    <ul>
                        <li><a href="html/forms-2.html">HTML Forms Part 2</a></li>
                        <li> <a href="https://github.com/uagc-it-readiness/front-end-development-course-assignments/tree/master/Assignment14">Assignment 14</a></li>
                    </ul>
                </article>
            </section>
        </div>
        -->
        <!--<h1>October
            <h3>Sessions</h1>
        <header>
            <h3>Session 1 Decks - 10/4/2016</header>
        <ul>
            <li> <a href="intro/intro.html">Class Intro</a></li>
            <li> <a href="intro/web-intro.html">Web Technology Intro</a></li>
            <li> <a href="intro/tools.html">Web Tool Intro</a></li>
        </ul>
        <header>
            <h3>Session 2 Decks - 10/6/2016</header>
        <ul>
            <li> <a href="html/basics.html">HTML Intro</a></li>
        </ul>
        <header>
            <h3>Session 3 Decks - 10/8/2016</header>
        <ul>
            <li> <a href="sourcecontrol/intro.html">Source Control Intro</a></li>
            <li> <a href="https://github.com/uagc-it-readiness/front-end-development-course-assignments/tree/master/Assignment1"
                    target="_blank">Assignment 1</a></li>
        </ul>
        <header>
            <h3>Session 4 Decks - 10/11/2016</header>
        <ul>
            <li> <a href="html/basics-continued.html">HTML Continued</a></li>
            <li> <a href="css/intro.html">CSS Introduction</a></li>
            <li> <a href="https://github.com/uagc-it-readiness/front-end-development-course-assignments/tree/master/Assignment2"
                    target="_blank">Assignment 2</a></li>
        </ul>
        <header>
            <h3>Session 5 Decks - 10/13/2016</header>
        <ul>
            <li> <a href="css/part2.html">CSS Part 2</a></li>
            <li> <a href="https://github.com/uagc-it-readiness/front-end-development-course-assignments/tree/master/Assignment3">Assignment 3</a></li>
        </ul>
        <header>
            <h3>Session 6 Decks - 10/18/2016</header>
        <ul>
            <li> <a href="css/part3.html">CSS Part 3</a></li>
            <li> <a href="https://github.com/uagc-it-readiness/front-end-development-course-assignments/tree/master/Assignment4">Assignment 4</a></li>
        </ul>
        <header>
            <h3>Session 7 - 10-20-2016</header>
        <ul>
            <li> <a href="css/part4.html">CSS Part 4</a></li>
            <li> <a href="https://github.com/uagc-it-readiness/front-end-development-course-assignments/tree/master/Assignment5">Assignment 5</a></li>
        </ul>
        <header>
            <h3>Session 8 - 10/22/2016</header>
        <ul>
            <li> <a href="review/review-one.html">Review</a></li>
        </ul>
        <header>
            <h3>Session 9 - 10/25/2016</header>
        <ul>
            <li> <a href="css/part5.html">CSS Part 5</a></li>
            <li> <a href="https://github.com/uagc-it-readiness/front-end-development-course-assignments/tree/master/Assignment6">Assignment 6</a></li>
        </ul>
        <header>
            <h3>Session 10 - 10/27/2016</header>
        <ul>
            <li><a href="html/html5-elements.html">HTML5 Semantic Elements</a></li>
            <li> <a href="css/part6.html">CSS Part 6</a></li>
            <li> <a href="https://github.com/uagc-it-readiness/front-end-development-course-assignments/tree/master/Assignment7">Assignment 7</a></li>
        </ul>-->
        <script src="scripts/home/app.module.js"></script>
        <script src="scripts/home/app.sessions.js"></script>
        <script src="scripts/home/app.controller.js"></script>
    </body>

</html>
