/*
    Convert this code to more efficient SCSS pattern
    Things to use: Nesting, variables and parent selector
*/
.book .book-title {
    color: #a00;
    margin-bottom: 10px;
}

.book .book-body {
    color: #a00;
    margin-bottom: 10px;
}

.book .btn {
    background: #a00;
    color: #fff;
}

.book .btn:hover {
    background: #440000;
}