* {
    box-sizing: border-box;
}

body {
    background: #ccc;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main {
    background: #fff;
    width: 960px;
    margin: 0 auto;
}

.nav {
    background: #a00;
}

.main-title {
    padding: 20px;
}

.nav h1 {
    color: #fff;
    margin-bottom: 0px;
}

.nav h2 {
    color: #fff;
    font-style: italic;
    font-size: 20px;
}

.nav .menu {
    background: #800000;
    float: left;
    width: 100%;
}

.menu li {
    float: left;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding: 10px 20px;
}

.menu .search {
    float: right;
    margin-right: 10px;
    padding: 8px 0;
}

.menu .search input {
    border: none;
    background: #aa0000;
    color: #fff;
}

.menu a:hover {
    text-decoration: underline;
    background: #700000;
}

.footer {
    float: left;
    width: 100%;
    background: #999999;
}

.footer li {
    float: left;
}

.footer li a {
    text-decoration: none;
    color: #333333;
    display: block;
    padding: 10px 20px;
}

.form-header .info {
    padding: 20px;
    clear: both;
}

.form-header .info h1 {
    text-align:center;
    }
.form-header .info img {
    display: block;
    float: left;
}

.form-header .info p {
    margin-top: 20px;
    font-size: 20px;
}

.form-header form {
    clear: both;
    width: 60%;
    margin: 0 auto;
}



