body,
ul {
    padding: 0
}

* {
    box-sizing: border-box
}

body {
    margin: 0
}

nav a {
    color: #fff;
    text-decoration: none
}

ul {
    list-style: none
}

nav ul {
    margin: 0;
    padding: 20px 10px;
    font-size: 20px
}

nav li a {
    background: #a00;
    border: 1px solid white;
    display: block;
    padding: 10px;
    width: 250px;
}

footer nav,
header nav,
section {
    width: 960px;
    margin: 0 auto
}

.pager a {
    color: #a00;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #a00;
}

.socialLinks a {
    color: #a00;
    text-decoration: none;
    display: inline-block;
}