* {
    box-sizing: border-box;
}


.item{
    border:1px solid black;
    color:rgb(43, 43, 43);
    background:#e7e7e7;
    padding:25px;
}
@media screen and (min-width: 576px) {
   .container{
       display:flex;
       flex-wrap: wrap;
   }
   .item {
       flex-basis: 50%;
   }
}

@media screen and (min-width: 768px) {
    .container {
        flex-wrap: nowrap;
    }

   .item {
       flex-basis: auto;
   }

}